{% extends 'base.html' %}
{% block title %}Users{% endblock %}
{% block content %}
<div>
<h1>Edit {{user.first_name}}</h1>
<form action="/users/{{user.id}}/edit" method="post">
    <label for="firstname">First Name</label>
    <input type="text" placeholder="Enter a first name" name="firstname"><br>
    <label for="lastname">Last Name</label>
    <input type="text" placeholder="Enter a last name" name="lastname"><br>
    <label for="img">Image URL</label>
    <input type="url" placeholder="Provide an image of this user" name='img'><br>
    <input class="btn" type="submit" value="Save">
</form>
<form action="/users/{{user.id}}">
    <input class="btn" type="submit" value="Cancel">
</form>
</div>
{% endblock %}